<script type="text/javascript">
        startList = function() {
        if (document.all&&document.getElementById) {
        navRoot = document.getElementById("menuDropDown");
        for (i=0; i<navRoot.childNodes.length; i++) {
        node = navRoot.childNodes[i];
        if (node.nodeName=="LI") {
        node.onmouseover=function() {
        this.className+=" over";
          }
          node.onmouseout=function() {
          this.className=this.className.replace
            (" over", "");
           }
           }
          }
         }
        }
        window.onload=startList;
</script> 
<center>
<ul id="nav"> 
  <li><a href="">O que é CronApp</a> 
    <ul> 
      <li><a href="">Visão Geral do CronApp</a>
      </li> 
    </ul> </li> 
  <li><a href="">Iniciando no CronApp Get Started</a></li> 
  <li><a href="">Tutoriais</a> 
    <ul> 
      <li><a href="">xxx</a></li>
    </ul> </li> 
  <li><a href="">Referência da IDE</a>
  <ul>
      <li><a href="">Tour pela IDE (Completa)</a></li>
      <li><a href="">Suporte</a></li>
      <li><a href="">Projetos</a></li>
      <li><a href="">Prototipação e Diagramação</a></li>
      <li><a href="">Bibliotecas e Gluonsoft</a></li>
      <li><a href="">Persistência</a></li>
      <li><a href="">Desenvolvimento WEB e Mobile</a>
            <ul>
                <li><a href="">teste</a></li>
            </ul>
        </li>
      <li><a href="">Relatório</a></li>
      <li><a href="">Desenvolvimento Colaborativo</a></li>
      <li><a href="">Executar Aplicação</a></li>
      <li><a href="">Teste</a></li>
      <li><a href="">Produção</a></li>
  </ul>
  </li>
  <li><a href="">Referência das API's</a>
  <ul> 
      <li><a href="">CronAPI</a></li>
      <li><a href="">Mobile</a></li>
      <li><a href="">Componentes Visuais</a></li>
    </ul></li> 
  <li><a href="">Contato CronApp</a></li> 
</ul>
</center>